@charset "UTF-8";
/*
Notice of Copyright & License

You may view the license here.

https://gist.github.com/satoru8/661377e6c073d2601ed4478c49399fc9

This notice applies to all files within this repository even where not stated within the files.
Copyright © 2018-19, Satoru | All rights reserved | DO NOT DISTRIBUTE
*/
@import url("https://satoru8.github.io/FullTransparency/FullTransparency.css");
:root {
  --hover-color: #e649be;
  --hover-color-bright: #b88fcf;
  --main-color: #6fd1d8;
  --main-color-bright: #00eeff;
  --link-color: #72e7a7;
  --hover-color-bg: #ff008023;
  --main-color-bg: #b6389609;
  --link-color-bg: #72e7a717;
  --selection: #0099ff;
  --bgLayer: rgba(0, 0, 0, 0.6);
  --homeIcon: url('https://i.imgur.com/yA3h4mo.png');
  --unread: var(--link-color);
  --round: 25%;
  --speakColor: #b88fcf;
  --sc: #e649be;
}

#app-mount {
  background-image: url("https://cdn.discordapp.com/attachments/456316408465195009/572102568524775431/bgy195mgw6s21.jpg") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

strong {
  font-family: sans-serif !important;
  font-weight: 900;
}

.anchor-3Z-8Bb {
  color: var(--link-color) !important;
  -webkit-transition: all 1s ease-in-out .5s !important;
  transition: all 1s ease-in-out .5s !important;
}

.anchor-3Z-8Bb:hover {
  text-decoration: none !important;
  font-weight: 900;
}

u {
  text-decoration: none;
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(90deg, transparent, var(--main-color), transparent);
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--main-color)), to(transparent));
     border-image: linear-gradient(90deg, transparent, var(--main-color), transparent);
  border-image-slice: 1;
}

.messageCozy-2JPAPA .username-_4ZSMR {
  position: relative;
  padding: 2px 6px 3px 6px;
}

.messageCozy-2JPAPA .username-_4ZSMR::after {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(currentColor), to(transparent)) !important;
  background-image: linear-gradient(to right, transparent, currentColor, transparent) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: isMentioned 2s infinite linear !important;
          animation: isMentioned 2s infinite linear !important;
  position: absolute;
  opacity: 0.3;
  border-radius: 5px;
  z-index: -1;
  background-size: 200% 200%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.theme-dark .username-_4ZSMR {
  color: #d2af35;
}

@-webkit-keyframes isMentioned {
  0% {
    background-position: 250% 250%;
  }
  100% {
    background-position: -150% -150%;
  }
}

@keyframes isMentioned {
  0% {
    background-position: 250% 250%;
  }
  100% {
    background-position: -150% -150%;
  }
}

.markup-2BOw-j, .wrapper-3WhCwL, .isMentioned-N-h9aa, .mention {
  color: var(--main-color) !important;
  margin-top: -1px !important;
  margin-bottom: -1px !important;
  -webkit-transition: all 1s ease-in-out .3s !important;
  transition: all 1s ease-in-out .3s !important;
}

.markup-2BOw-j:hover:not(.jumboable), .wrapper-3WhCwL:hover, .mention:hover {
  color: var(--hover-color) !important;
  font-size: 17.5px !important;
  margin-top: -.5px !important;
  margin-bottom: -.5px !important;
}

::-moz-selection {
  color: var(--selection) !important;
  background-color: transparent !important;
}

::selection {
  color: var(--selection) !important;
  background-color: transparent !important;
}

.userPopout-3XzG_A {
  display: -ms-grid;
  display: grid;
  width: 500px;
}

.header-2BwW8b {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  display: -ms-grid;
  display: grid;
}

.activity-11LB_k {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.body-3iLsc4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2/1;
}

.footer-1fjuF6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: 3/1;
}

#app-mount .wrapper-3WhCwL, #app-mount .mention {
  background-color: var(--link-color-bg) !important;
  border: 1px solid var(--link-color) !important;
  border-bottom-color: var(--link-color) !important;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-width: 2.5px;
  color: var(--link-color);
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-top: 3px;
  margin-bottom: 3px !important;
}

#app-mount .isMentioned-N-h9aa .wrapper-3WhCwL {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 127, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(127, 255, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 255, 127, 0.1), rgba(0, 255, 255, 0.1), rgba(0, 127, 255, 0.1), rgba(0, 0, 255, 0.1), rgba(127, 0, 255, 0.1), rgba(255, 0, 255, 0.1), rgba(255, 0, 127, 0.1)) !important;
  background-size: cover !important;
  transition: all 1s ease-in-out .3s !important;
  border: none !important;
}

#app-mount .isMentioned-N-h9aa .wrapper-3WhCwL:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.5)), color-stop(rgba(255, 127, 0, 0.5)), color-stop(rgba(255, 255, 0, 0.5)), color-stop(rgba(127, 255, 0, 0.5)), color-stop(rgba(0, 255, 0, 0.5)), color-stop(rgba(0, 255, 127, 0.5)), color-stop(rgba(0, 255, 255, 0.5)), color-stop(rgba(0, 127, 255, 0.5)), color-stop(rgba(0, 0, 255, 0.5)), color-stop(rgba(127, 0, 255, 0.5)), color-stop(rgba(255, 0, 255, 0.5)), to(rgba(255, 0, 127, 0.5))) !important;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 127, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(127, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 255, 127, 0.5), rgba(0, 255, 255, 0.5), rgba(0, 127, 255, 0.5), rgba(0, 0, 255, 0.5), rgba(127, 0, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 0, 127, 0.5)) !important;
  background-size: cover !important;
  border: none !important;
  animation: isMentioned 2s infinite linear !important;
}

#app-mount .wrapper-3WhCwL, #app-mount .mention {
  text-shadow: 0 0 4px black !important;
  background: transparent !important;
  color: #fff !important;
  color: var(--link-color) !important;
}

#app-mount .isMentioned-N-h9aa {
  background: transparent !important;
  color: #fff !important;
}

#app-mount .isMentioned-N-h9aa::after {
  display: none;
}

#app-mount .wrapper-3WhCwL:hover, #app-mount .mention:hover {
  background-color: var(--hover-color-bg) !important;
  border: 1px solid var(--hover-color) !important;
  border-bottom-color: var(--hover-color) !important;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-width: 2.5px;
  color: var(--hover-color) !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 3px !important;
  background: var(--hover-color-bg) !important;
}

#app-mount .wrapper-3WhCwL:hover::after, #app-mount .mention:hover::after {
  background: var(--hover-color-bg) !important;
}

.mention {
  text-decoration: none;
  display: inline-block;
}

#app-mount .wrapper-3WhCwL, #app-mount .mention, #app-mount .isMentioned-N-h9aa, #app-mount .wrapper-3WhCwL:hover, #app-mount .isMentioned-N-h9aa:hover {
  text-decoration: none !important;
}

@-webkit-keyframes gay {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes gay {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes slide {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes slide {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.channel-2QD9_O a {
  background: none !important;
  border: 0 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  color: var(--main-color) !important;
  font-size: inherit !important;
  font-weight: 700 !important;
  position: relative !important;
  vertical-align: middle !important;
  background-color: var(--main-color-bg) !important;
}

.channel-2QD9_O a:hover {
  background-color: var(--hover-color-bg) !important;
  color: var(--hover-color) !important;
}

.channel-2QD9_O a::before, .channel-2QD9_O a::after {
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  -webkit-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.channel-2QD9_O a::before {
  border-bottom: 1px solid var(--hover-color) !important;
  border-top: 1px solid var(--hover-color) !important;
  -webkit-transform: scale3d(0, 1, 1) !important;
          transform: scale3d(0, 1, 1) !important;
}

.channel-2QD9_O a::after {
  border-left: 1px solid var(--hover-color) !important;
  border-right: 1px solid var(--hover-color) !important;
  -webkit-transform: scale3d(1, 0, 1) !important;
          transform: scale3d(1, 0, 1) !important;
}

.channel-2QD9_O a:hover::before, .channel-2QD9_O a:hover::after {
  -webkit-transform: scale3d(1, 1, 1) !important;
          transform: scale3d(1, 1, 1) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

[style*="/avatars/498615931388559362/"] {
  background: url(https://i.imgur.com/zGRaYk2.png) 50% 50%/cover !important;
}

[style*="/avatars/311966851179479046/"] {
  background: url(https://cdn.discordapp.com/attachments/339760259738370049/557192623756935169/image0.jpg) 50% 50%/cover !important;
}

.icon-27yU2q[src="https://cdn.discordapp.com/avatars/498615931388559362/38471472ef26d2a2dabf94a831172d4a.webp?size=256"] {
  -webkit-mask: url("https://cdn.discordapp.com/avatars/580486830827372562/40b44676c04c450f6c480a0ec25c9c92.webp?size=256") !important;
}

.jumboable:hover, .image-33JSyf:hover, .maskProfile-1ObLFT, .statusProfile-3ynqtt {
  -webkit-animation: floating 3s infinite ease-in-out !important;
          animation: floating 3s infinite ease-in-out !important;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.emojiPicker-3m1S-j, .category-2U57w6 {
  background-color: #000000;
  color: #ffffff;
}

#app-mount {
  text-shadow: none !important;
}

#app-mount ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--main-color-bright)), to(var(--hover-color-bright)));
  background-image: linear-gradient(to bottom, var(--main-color-bright), var(--hover-color-bright));
}

.nameSpeaking-3UhoEZ {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}
/*# sourceMappingURL=Sorry.css.map */