/** 
 * @name aUSER
 * @author NFLD99
 * @version ersion auto updates
 * @description Support Server: https://nfld99.com/discord
 * @source https://github.com/NFLD99/Better-Discord
 * @website https://nfld99.com/
*/
/* Source Code */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
/* Animations */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Animations/Yes.css);
/* Fonts https://nfld99.github.io/Better-Discord/Font_List.txt */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
/* Settings Dock */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Popup/Yes.css);
/* Channels */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Channels/No.css);
/* Chat Title Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Chat_Title_Bar/No.css);
/* Guild List */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Guilds/No.css);
/* Invites */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Invites/Yes.css);
/* Member List */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Members/Yes.css);
/* Windows Bar */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Windows_Bar/Yes.css);
/* Offline Members */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Offline/Yes.css);
/* User Popout Footer */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Hide/Popout_Footer/Yes.css);
/* Transparency Patch */
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Transparency/Yes.css);
:root {
  --Main-Colour: rgba(99,228,112, 1);
  --Background-Colour: rgba(253,0,0, 1);
  --Secondary-Background-Colour: rgba(253,0,0, .3);
  --Secondary-Main-Colour: rgba(99,228,112, 0.5);
  --Text-Shadow-Colour: rgba(253,0,0, .45);
  --Scroller-Colour: rgba(99,228,112, 0);
  --Notification-Colour: rgba(99,228,112, 1);
  --Chat-Input-Background: rgba(253,0,0, 0);
  --Chat-Input-Colour: var(--Main-Colour);
  --Unread-Message-1: var(--Main-Colour);
  --Unread-Message-2: var(--Background-Colour);
  --Chat-Background: rgb(255, 255, 255,0);
  --Settings-Background: Transparent;
  --Callout-Background: url(https://i.imgur.com/VBHq52j.png);
  --Title-Background: url(https://i.imgur.com/VBHq52j.png);
  --Theme-Variant: "aUSER ";
  --Chat-Font-Used: "Comic Sans MS" ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Callout-Background);
  --Popout-Text-Shadow-Colour: var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--Secondary-Background-Colour);
  --load1: "Thank You!";
  --load2: "Please Enjoy!";
  --load3: "➢NFLD99";
  --File-Updated-2019-6-19: ;
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--Main-Colour);
  --Background-Darkness: 0.5;
  --Guild-Columns: 2;
  --ServerFolders-Guild-Columns: var(--Guild-Columns); /* Set # of guild rows in Server Folders */
  --Chat-Avatar-Border-Radius: 10%;
}
.messageCozy-2JPAPA .username-_4ZSMR {
  position: relative;
  padding:2px 6px 3px 6px;
}

.messageCozy-2JPAPA .username-_4ZSMR::after {
  content: "";
  background: currentColor;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  opacity:0.3;
  border-radius:5px;
  z-index:-1;
  filter: invert(1);
}

*:nth-child(even){
  transform: rotate(1deg);
  filter: hue-rotate(180deg);
  animation: CLog 10s infinite linear;
}

*:nth-child(odd){
  transform: rotate(-1deg);
  filter: hue-rotate(-180deg);
  animation: CLog 10s infinite linear;
}